<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <style media="screen" src="../modal.css">


  </style>
  <body>
    <div class="modal fade" id="miModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">"Three Kims (2007)"</h4>
          </div>
          <div class="modal-body">
            Set in a small rural town, two not-so-competent martial arts masters are rivals who work in the same building. The two masters compete over students as well as local beauty Yeon-Sil. While their rivalry rages, a third Master Kim, Kung Fu Kim Kwan-Jang arrives in their town and sets up shop in the same building. Their competition keep on rising again. Beside that, some thugs come to their town to make chaos and will reveal the past of one of the Kim master.
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
